<!DOCTYPE html>
<html>

<head>
    <title>Cloud Foundry API Navigator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/images/favicon-32x32.png">
    <link rel="icon" href=/static/images/favicon-32x32.png">
</head>

<body>

<div align="center">
    <form>
        <input type="button" value="api.ng.bluemix.net" class="region-button"
               onclick="window.location.href='/api.ng.bluemix.net'"/>
        <input type="button" value="api.eu-gb.bluemix.net" class="region-button"
               onclick="window.location.href='/api.eu-gb.bluemix.net'"/>
        <input type="button" value="api.au-de.bluemix.net" class="region-button"
               onclick="window.location.href='/api.eu-de.bluemix.net'"/>
        <input type="button" value="api.au-syd.bluemix.net" class="region-button"
               onclick="window.location.href='/api.su-syd.bluemix.net'"/>
    </form>
</div>

<div>
    <br>
    <h1 align="center"> {{ error_message }} </h1>
</div>

<div class="imgcontainer">
    <br>
    <img src="/static/images/{{ image_file }}" alt="Error Graphic" class="error">
</div>

</body>

</html>
