
List all Apps:                              <a href="/{{ region }}/v2/apps">/v2/apps</a>
List all Buildpacks:                        <a href="/{{ region }}/v2/buildpacks">/v2/buildpacks</a>
List all Events:                            <a href="/{{ region }}/v2/events">/v2/events</a>
List all Organizations:                     <a href="/{{ region }}/v2/organizations">/v2/organizations</a>
List all Organization Quota Definitions:    <a href="/{{ region }}/v2/quota_definitions">/v2/quota_definitions</a>
List all Private Domains:                   <a href="/{{ region }}/v2/private_domains">/v2/private_domains</a>
List all Routes:                            <a href="/{{ region }}/v2/routes">/v2/routes</a>
List all Route Mappings:                    <a href="/{{ region }}/v2/route_mappings">/v2/route_mappings</a>
List all Security Groups:                   <a href="/{{ region }}/v2/security_groups">/v2/security_groups</a>
List all Services:                          <a href="/{{ region }}/v2/services">/v2/services</a>
List all Service Bindings:                  <a href="/{{ region }}/v2/service_bindings">/v2/service_bindings</a>
List all Service Brokers:                   <a href="/{{ region }}/v2/service_brokers">/v2/service_brokers</a>
List all Service Instances:                 <a href="/{{ region }}/v2/service_instances">/v2/service_instances</a>
List all Service Keys:                      <a href="/{{ region }}/v2/service_keys">/v2/service_keys</a>
List all Service Plan Visibilities:         <a href="/{{ region }}/v2/service_plan_visibilities">/v2/service_plan_visibilities</a>
List all Service Plans:                     <a href="/{{ region }}/v2/service_plans">/v2/service_plans</a>
List all Service Usage Events:              <a href="/{{ region }}/v2/service_usage_events">/v2/service_usage_events</a>
List all Shared Domains:                    <a href="/{{ region }}/v2/shared_domains">/v2/shared_domains</a>
List all Spaces:                            <a href="/{{ region }}/v2/spaces">/v2/spaces</a>
List all Space Quota Definitions:           <a href="/{{ region }}/v2/space_quota_definitions">/v2/space_quota_definitions</a>
List all Stacks:                            <a href="/{{ region }}/v2/stacks">/v2/stacks</a>
List all User Provided Service Instances:   <a href="/{{ region }}/v2/user_provided_service_instances">/v2/user_provided_service_instances</a>
