List all Resource Instances:   <a href="/resource-controller.{{ domain }}/v2/resource_instances">/v2/resource_instances</a>
List all Resource Keys:        <a href="/resource-controller.{{ domain }}/v2/resource_keys">/v2/resource_keys</a>
List all Resource Bindings:    <a href="/resource-controller.{{ domain }}/v2/resource_bindings">/v2/resource_bindings</a>
List all Resource Aliases:     <a href="/resource-controller.{{ domain }}/v2/resource_aliases">/v2/resource_aliases</a>
List all API Keys:             <a href="/iam.{{ domain }}/v1/apikeys">/v1/apikeys</a>
List all Service IDs:          <a href="/iam.{{ domain }}/v1/serviceids?account_id=0b5a00334eaf9eb9339d2ab48f8080c2">/v1/serviceids</a>
